body {
    background-color: lightgray;
}

.c-sidebar-unfoldable{
    width: 56px !important;
}

.c-wrapper{
    margin-left: 56px !important;
}



@import "../../node_modules/@coreui/coreui/scss/coreui";