{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block main %}
    <div id="gestor" class="ml-5 mr-5">
        <h1>Gestor de Pedidos y Productos</h1>
        <div class="mt-5">
            <h3>Mis productos</h3>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Nuevo Producto</strong></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" id="newProductoNameInput" type="text" placeholder="Nombre del Producto">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" id="newProductoPriceInput" type="text" placeholder="Precio del Producto €">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" id="btnNewProduct">Crear</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Listado de Productos</strong></div>
                        <div class="card-body">
                            <table id="productsTable" class="table table-striped table-bordered nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Editar Producto</strong></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select id="editProductoSelect"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" id="editProductoNameInput" type="text" placeholder="Nuevo Nombre del Producto">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" id="editProductoPriceInput" type="text" placeholder="Nuevo Precio del Producto €">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" id="btnEditProduct">Editar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-5">
            <h3>Mis Clientes</h3>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Nuevo Cliente</strong></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" id="newClientNameInput" type="text" placeholder="Nombre del Cliente">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" id="btnNewClient">Crear</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Listado de Clientes</strong></div>
                        <div class="card-body">
                            <table id="clientsTable" class="table table-striped table-bordered nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Editar Cliente</strong></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <select id="editClienteSelect"></select>
                                        <input class="form-control mt-2" id="editClientNameInput" type="text" placeholder="Nuevo Nombre del Cliente">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" id="btnEditClient">Editar</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <h3>Pedidos</h3>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Nuevo Pedido</strong></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select id="newPedidoClientSelect"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" id="newPedidoPriceInput" type="text" placeholder="Precio del Pedido €">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" id="btnNewPedido">Crear</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Listado de Pedidos</strong></div>
                        <div class="card-body">
                            <table id="pedidosTable" class="table table-striped table-bordered nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Fecha</th>
                                    <th>Id Cliente</th>
                                    <th>Precio</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header"><strong>Editar Pedido</strong></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select id="editPedidoSelect"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" id="editPedidoPriceInput" type="text" placeholder="Nuevo Precio del Pedido €">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" id="btnEditPedido">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('home') }}
 {% endblock %}